/* Global style */

body {
    background-color: white;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    color: whitesmoke;
    background-image: url(../images/earth-background.png);
    background-position: -200px 20px;
}

/* Homepage*/

.box {
    background: rgba(25, 113, 181, 0.5);
    width: 400px;
    height: 600px;
    margin: auto;
    margin-top: 100px;
}

/* Main game area*/

#primary-box {
    background: rgba(25, 113, 181, 0.5);
    width: 400px;
    height: 600px;
    margin: auto;
    margin-top: 100px;
}

#question {
    height: 250px;
    width: 100%;
    font-size: 150%;
}

#answers {
    height: 150px;
    width: 100%;
}

.buttons {
    width: 180px;
    height: 50px;
    border-radius: 10px;
}

.buttons:hover, .buttons.active {
    color: white;
    background-color: rgba(16, 63, 131, 0.93);
}
  
/* Play button to begin quiz */

#play-button {
    color: rgba(25, 113, 181, 0.5);
    font-size: 800%;
    border-radius: 50%;
    margin-top: 200px;
    display: inline-block;
}

#play-button:hover {
    background-color: rgba(16, 63, 131, 0.93);
    color: white;
}

/* Instructions */

#how-to-play {
    font-size: 1rem;
    line-height: 40px;
    margin: 20px;
}

#how-to-play-button {
    margin-top: 100px;
    border-radius: 10px;
}

#how-to-play-button:hover {
    background-color: rgba(16, 63, 131, 0.93);
    color: white;
}

/* Next button for progressing through game */

#next-button {
    width: 360px;
    height: 100px;
    background-color: rgba(16, 63, 131, 0.93);
    color: white;
    border-radius: 10px;
    font-size: 200%;
}

#next-button:hover {
    border: black;
    color: yellow;
}

/* Display showing live score */

#score_container {
    margin: 50px;
    font-size: 200%;
}

/* Result pages */

.face {
    font-size: 600%;
}

.result-text {
    font-size: 200%;
}

.restart-button {
    border-radius: 10px;
}

.restart-button:hover {
    background-color: rgba(16, 63, 131, 0.93);
    color: white;
}