/* Global style */

body {
    background-color: white;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    color: whitesmoke;
    background-image: url(../images/earth-background.png);
    background-position: -200px 20px;
}

#primary-box {
    background: rgba(25, 113, 181, 0.5);
    width: 400px;
    height: 600px;
    margin: auto;
    margin-top: 100px;
}

#question {
    height: 250px;
    width: 100%;
    font-size: 150%;
    padding-top: 40px;
}

#answers {
    height: 150px;
    width: 100%;
}

.buttons {
    width: 180px;
    height: 50px;
    border-radius: 10px;
}

.buttons:hover {
    color: white;
    background-color: rgba(16, 63, 131, 0.93);
}

#play-button {
    color: rgba(25, 113, 181, 0.5);
    font-size: 800%;
    border-radius: 50%;
    margin-top: 200px;
}

#play-button:hover {
    background-color: rgba(16, 63, 131, 0.93);
}

#next-button {
    width: 360px;
    height: 100px;
    background-color: rgba(16, 63, 131, 0.93);
    color: white;
    border-radius: 10px;
    font-size: 200%;
}

#next-button:hover {
    border: black;
    color: yellow;
}